footer {
  overflow: hidden;
  padding-top: 25px;
  background: #30374e;
  a, span, h3 {
    color: #D8D8D8;
  }
}

.footer-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  align-items: center;
  .footer-menu {
    list-style: none;
    text-align: left;
    padding-left: 0;
    a {
      letter-spacing: 1px;
      font-family: 'Cabin', sans-serif;
      font-size: 21px;
      text-decoration: none;
    }
    a:hover, a:focus {
      color: white;
    }
  }
  .social-icons {
    width: 200px;
    a {
      display: inline-block;
      text-decoration: none;
      span.fa {
        border: 1px solid #D8D8D8;
        border-radius: 30px;
        width: 45px;
        height: 45px;
        padding: 11px 12px;
        font-size: 22px;
        font-weight: 600;
        display: block;
        text-align: center;
      }
      span:hover {
        color: white;
        border-color: white;
      }
    }
    span.fa.fa-vk {
      padding: 11px 0;
    }
  }
  .subscribe {
    overflow: hidden;
    h3 {
      font-family: 'Bitter', serif;
      text-align: left;
      margin-top: 0;
      font-size: 20px;
      margin-bottom: 15px;
    }
    .email {
      font-family: 'Cabin', sans-serif;
      padding-left: 10px;
      border-radius: 3px 0 0 3px;
      height: 35px;
      width: 246px;
      float: left;
      border-style: none;
      letter-spacing: 1px;
      outline: none;
    }
    .sub-button {
      letter-spacing: 1px;
      font-family: 'Cabin', sans-serif;
      background-color: #cd2559;
      color: white;
      float: left;
      display: block;
      width: 77px;
      height: 35px;
      border-style: none;
      border-radius: 0 3px 3px 0;
      margin-left: -3px;
      outline: none;
    }
    .sub-button:hover {
      background-color: rgba(180, 34, 81, 0.96);
    }
  }
}
