header {
  background-color: rgba(202, 221, 243, 0.69);
  overflow: hidden;
}

.logo-and-nav {
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .logo {
    h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .nav {
    .header-menu {
      padding-left: 0;
      margin-bottom: 0;
      height: 76px;
      li {
        display: inline-block;
        margin-top: 12px;
        a {
          font-family: 'Cabin', sans-serif;
          color: #b7375f;
          font-size: 35px;
          text-decoration: none;
          padding-bottom: 2px;
          padding-right: 15px;
          padding-left: 15px;
          text-shadow: 0 1px 1px grey;
          letter-spacing: 2px;
          &:hover {
            text-shadow: 1px 1px 1px rgba(202, 221, 243, 0.69);
          }
        }
      }
    }
  }
  .search-and-reg_buttons {
    margin-top: 3px;
    width: 283px;
    .search {
      overflow: hidden;
      .advanced-search {
        padding: 5px;
        background-color: #cd2559;
        color: white;
        border-radius: 3px 0 0 3px;
        float: left;
        font-size: 20px;
        display: block;
        width: 35px;
        text-decoration: none;
        &:hover {
          background-color: rgba(180,34,81,0.96);
          text-decoration: none;
          box-shadow: 0 0 8px rgba(0,0,0,0.5);
        }
      }
      .home-search {
        font-family: 'Cabin', sans-serif;
        padding-left: 10px;
        height: 30px;
        width: 215px;
        float: left;
        border-style: none;
        outline: none;
      }
      .search-button {
        outline: none;
        float: left;
        display: block;
        width: 35px;
        height: 30px;
        border-style: none;
        border-radius: 0 3px 3px 0;
        margin-left: -3px;
        background: url("/img/search-icon.png") no-repeat white center left 6px;
      }
    }
    .reg-buttons {
      margin-top: 6px;
      padding-left: 0;
      li {
        display: inline-block;
        font-size: 13px;
        a {
          float: left;
          font-size: 14px;
          padding: 6px 48px;
          display: block;
          border-radius: 3px;
          font-family: 'Cabin', sans-serif;
        }
        .sign-up {
          margin-right: 2px;
        }
      }
    }
  }
}