@mixin sorting {
    .sorting {
        background: rgb(232, 232, 232);
        border-top: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey;
    }
    .sorting-block {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 30px;
        span {
            color: rgba(180, 34, 81, 0.96);
            font-size: 18px;
        }
        label {
            margin-bottom: 0;
            select {
                border: none;
                border-radius: 3px;
                padding-left: 15px;
                height: 26px;
                width: 160px;
                margin-left: 3px;
                margin-right: 7px;
                color: rgb(113, 115, 119);
                outline: none;
            }
            input {
                border: none;
                height: 27px;
                border-radius: 3px;
                padding: 0 21px;
                outline: none;
            }
        }
    }
}