<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${'Picture:' + news.name}"></title>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Cabin:400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo-and-nav">
            <div class="logo">
                <h1>
                    <a href="/">
                        <img src="/img/logo.png" alt="art-gallery-logo"/>
                    </a>
                </h1>
            </div>
            <div class="nav">
                <ul class="header-menu">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/gallery">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="/painters?page=1">
                            Painters
                        </a>
                    </li>
                    <li>
                        <a href="/news?page=1">
                            News
                        </a>
                    </li>
                </ul>
            </div>
            <div class="search-and-reg_buttons">
                <div class="search">
                    <form action="/search" method="post">
                        <a href="/search" class="advanced-search red-but fa fa-plus" aria-hidden="true"></a>
                        <input class="home-search" type="search"  name="name" placeholder="Search"/>
                        <input class="hidden home-search" type="search"  name="style"/>
                        <input class="hidden home-search" type="search"  name="price"/>
                        <input type="submit" value="" class="search-button fa fa-search" aria-hidden="true"/>
                    </form>
                </div>
                <ul class="reg-buttons">
                    <li>
                        <a class="red-but sign-up" href="/registration">
                            Sign up
                        </a>
                    </li>
                    <li>
                        <a href="/login" class="red-but">
                            Sign in
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="news-single">
        <div class="wrapper">
            <div class="single-block">
                <div class="image-news">
                    <img th:src="${news.fullImage}" alt="art-gallery-logo"/>
                </div>
                <div class="title-text">
                    <h3 th:text="${news.name}"></h3>
                    <p th:text="${news.text}"></p>
                </div>
                <div class="bottom">
                    <a class="red-but btnews" href="/news?page=1">
                        &#8592; Back to news
                    </a>
                    <span class="date-news" th:text="${news.date}"></span>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="wrapper">
        <ul class="footer-container">
            <li class="logo">
                <a href="/">
                    <img src="/img/logo2.png" alt="art-gallery-logo"/>
                </a>
            </li>
            <li class="nav-2">
                <ul class="footer-menu">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/gallery">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="/painters">
                            Painters
                        </a>
                    </li>
                    <li>
                        <a href="/news?page=1">
                            News
                        </a>
                    </li>
                </ul>
            </li>
            <li class="social-icons">
                <a href="https://www.instagram.com/">
                    <span class="fa fa-instagram" aria-hidden="true"></span>
                </a>
                <a class="vk" href="https://www.vk.com/">
                    <span class="fa fa-vk" aria-hidden="true"></span>
                </a>
                <a href="https://www.twitter.com/">
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
                <a href="https://www.facebook.com/">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
            </li>
            <li class="subscribe">
                <h3>
                    Subscribe to news
                </h3>
                <input class="email" type="email" placeholder="Email"/>
                <input class="sub-button" type="button" value="Subscribe"/>
            </li>
        </ul>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/source-js/main.js">
</script>
</body>
</html>