<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${'Painer ' + painter.name}">Information</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Cabin:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Cabin:400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo-and-nav">
            <div class="logo">
                <h1>
                    <a href="/">
                        <img src="/img/logo.png" alt="art-gallery-logo"/>
                    </a>
                </h1>
            </div>
            <div class="nav">
                <ul class="header-menu">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/gallery">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="/painters?page=1">
                            Painters
                        </a>
                    </li>
                    <li>
                        <a href="/news?page=1">
                            News
                        </a>
                    </li>
                </ul>
            </div>
            <div class="search-and-reg_buttons">
                <div class="search">
                    <form action="/search" method="post">
                        <a href="/search" class="advanced-search red-but fa fa-plus" aria-hidden="true"></a>
                        <input class="home-search" type="search"  name="name" placeholder="Search"/>
                        <input class="hidden home-search" type="search"  name="style"/>
                        <input class="hidden home-search" type="search"  name="price"/>
                        <input type="submit" value="" class="search-button fa fa-search" aria-hidden="true"/>
                    </form>
                </div>
                <ul class="reg-buttons">
                    <li>
                        <a class="red-but sign-up" href="/registration">
                            Sign up
                        </a>
                    </li>
                    <li>
                        <a href="/login" class="red-but">
                            Sign in
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="painter-single">
        <a class="red-but fa fa-long-arrow-left" aria-hidden="true" href="/painters?page=1">
        </a>
        <div class="wrapper">
            <div class="painter-info-block">
                <div class="photo-block">
                    <img th:src="${painter.fullImage}" />
                </div>
                <div class="info-block">
                    <h2 th:text="${painter.name}"></h2>
                    <div class="styles">
                        <span class="l">
                            Movement:
                        </span>
                        <span class="r" th:text="${painter.style}"></span>
                    </div>
                    <div class="b-day">
                    <span class="l">
                        Birthday:
                    </span>
                        <span class="r" th:text="${painter.birth}"></span>
                    </div>
                    <div class="d-day">
                    <span class="l">
                        Date of death:
                    </span>
                        <span class="r" th:text="${painter.dead}"></span>
                    </div>
                    <div class="nationality">
                            <span class="l">
                                Nationality
                            </span>
                        <span class="r">
                                French
                            </span>
                    </div>
                    <div class="birthplace">
                            <span class="l">
                                Birthplace:
                            </span>
                        <span class="r">
                                Paris
                            </span>
                    </div>
                    <div class="deathplace">
                        <span class="l">
                                Deathplace:
                        </span>
                        <span class="r">
                                Giverny
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="biography">
        <div class="wrapper">
            <div class="biography-block">
                <h2>
                    Biography
                </h2>
                <p>
                    Claude Monet was born on 14 November 1840 on the fifth floor of 45 rue Laffitte, in the 9th
                    arrondissement of Paris. He was the second son of Claude Adolphe Monet and Louise Justine
                    Aubrée Monet, both of them second-generation Parisians. On 20 May 1841, he was baptized in the
                    local parish church, Notre-Dame-de-Lorette, as Oscar-Claude, but his parents called him simply
                    Oscar. (He signed his juvenilia "O. Monet".) Despite being baptized Catholic, Monet later became
                    an atheist.
                </p>
                <p>
                    In 1845, his family moved to Le Havre in Normandy. His father wanted him to go into the
                    family's ship-chandling and grocery business, but Monet wanted to become an artist.
                    His mother was a singer, and supported Monet's desire for a career in art.
                </p>
                <p>
                    On 1 April 1851, Monet entered Le Havre secondary school of the arts. Locals knew him well
                    for his charcoal caricatures, which he would sell for ten to twenty francs. Monet also
                    his first drawing lessons from Jacques-François Ochard, a former student of Jacques-Louis
                    David. On the beaches of Normandy around 1856 he met fellow artist Eugène Boudin, who
                    became his mentor and taught him to use oil paints. Boudin taught Monet "en plein air"
                    (outdoor) techniques for painting. Both received the influence of Johan Barthold Jongkind.
                </p>
                <p>
                    On 28 January 1857, his mother died. At the age of sixteen, he left school and went to
                    live with his widowed, childless aunt, Marie-Jeanne Lecadre.
                </p>
                <p>
                    Monet's second wife, Alice, died in 1911, and his oldest son Jean, who had married
                    Alice's daughter Blanche, Monet's particular favourite, died in 1914. After Alice died,
                    Blanche looked after and cared for Monet. It was during this time that Monet began to
                    develop the first signs of cataracts.
                </p>
                <p>
                    Monet died of lung cancer on 5 December 1926 at the age of 86 and is buried in the
                    Giverny church cemetery. Monet had insisted that the occasion be simple; thus only
                    about fifty people attended the ceremony.
                </p>
                <p>
                    His home, garden, and waterlily pond were bequeathed by his son Michel, his only
                    heir, to the French Academy of Fine Arts (part of the Institut de France) in 1966.
                    Through the Fondation Claude Monet, the house and gardens were opened for visits in
                    1980, following restoration. In addition to souvenirs of Monet and other objects
                    of his life, the house contains his collection of Japanese woodcut prints. The house
                    and garden, along with the Museum of Impressionism, are major attractions in Giverny,
                    which hosts tourists from all over the world.
                </p>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="wrapper">
        <ul class="footer-container">
            <li class="logo">
                <a href="/">
                    <img src="/img/logo2.png" alt="art-gallery-logo"/>
                </a>
            </li>
            <li class="nav-2">
                <ul class="footer-menu">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/gallery">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="/painters?page=1">
                            Painters
                        </a>
                    </li>
                    <li>
                        <a href="/news?page=1">
                            News
                        </a>
                    </li>
                </ul>
            </li>
            <li class="social-icons">
                <a href="https://www.instagram.com/">
                    <span class="fa fa-instagram" aria-hidden="true"></span>
                </a>
                <a class="vk" href="https://www.vk.com/">
                    <span class="fa fa-vk" aria-hidden="true"></span>
                </a>
                <a href="https://www.twitter.com/">
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
                <a href="https://www.facebook.com/">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
            </li>
            <li class="subscribe">
                <h3>
                    Subscribe to news
                </h3>
                <input class="email" type="email" placeholder="Email"/>
                <input class="sub-button" type="button" value="Subscribe"/>
            </li>
        </ul>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/source-js/main.js">

</script>
</body>
</html>