<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${'Picture ' + picture.name}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Cabin:400,700" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo-and-nav">
            <div class="logo">
                <h1>
                    <a href="/">
                        <img src="/img/logo.png" alt="art-gallery-logo"/>
                    </a>
                </h1>
            </div>
            <div class="nav">
                <ul class="header-menu">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/gallery">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="/painters?page=1">
                            Painters
                        </a>
                    </li>
                    <li>
                        <a href="/news?page=1">
                            News
                        </a>
                    </li>
                </ul>
            </div>
            <div class="search-and-reg_buttons">
                <div class="search">
                    <form action="/search" method="post">
                        <a href="/search" class="advanced-search red-but fa fa-plus" aria-hidden="true"></a>
                        <input class="home-search" type="search" name="name" placeholder="Search"/>
                        <input class="hidden home-search" type="search" name="style"/>
                        <input class="hidden home-search" type="search" name="price"/>
                        <input type="submit" value="" class="search-button fa fa-search" aria-hidden="true"/>
                    </form>
                </div>
                <ul class="reg-buttons">
                    <li>
                        <a class="red-but sign-up" href="/registration">
                            Sign up
                        </a>
                    </li>
                    <li>
                        <a href="/login" class="red-but">
                            Sign in
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="picture-single">
        <a class="red-but fa fa-long-arrow-left" aria-hidden="true" th:href="${'/gallery/' + picture.style + '?page=1'}"></a>
        <div class="wrapper">
            <div class="picture-block">
                <div class="picture">
                    <img th:src="${picture.fullImage}" alt=""/>
                </div>
                <div class="right-block">
                    <a href="#">
                        <span class="fa fa-star" aria-hidden="true"></span>
                        <span class="fa fa-star-o" aria-hidden="true"></span>
                    </a>
                    <div class="title">
                        <span class="l">
                            Title:
                        </span>
                        <span class="r" th:text="${picture.name}"></span>
                    </div>
                    <div class="autor">
                        <span class="l">
                            Painter:
                        </span>
                        <span class="r" th:text="${picture.painter}"></span>
                    </div>
                    <div class="stylle">
                        <span class="l">
                            Style:
                        </span>
                        <span class="r" th:text="${picture.style}"></span>
                    </div>
                    <div class="price">
                        <span class="l">
                            Price:
                        </span>
                        <span class="r" th:text="${picture.price}"></span>
                    </div>
                    <div class="share">
                        <span class="text-share">
                            Share:
                        </span>
                        <a href="https://www.instagram.com/">
                            <span class="fa fa-instagram" aria-hidden="true"></span>
                        </a>
                        <a class="vk" href="https://www.vk.com/">
                            <span class="fa fa-vk" aria-hidden="true"></span>
                        </a>
                        <a href="https://www.twitter.com/">
                            <span class="fa fa-twitter" aria-hidden="true"></span>
                        </a>
                        <a href="https://www.facebook.com/">
                            <span class="fa fa-facebook" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="wrapper">
        <ul class="footer-container">
            <li class="logo">
                <a href="/">
                    <img src="/img/logo2.png" alt="art-gallery-logo"/>
                </a>
            </li>
            <li class="nav-2">
                <ul class="footer-menu">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/gallery">
                            Gallery
                        </a>
                    </li>
                    <li>
                        <a href="/painters?page=1">
                            Painters
                        </a>
                    </li>
                    <li>
                        <a href="/news?page=1">
                            News
                        </a>
                    </li>
                </ul>
            </li>
            <li class="social-icons">
                <a href="https://www.instagram.com/">
                    <span class="fa fa-instagram" aria-hidden="true"></span>
                </a>
                <a class="vk" href="https://www.vk.com/">
                    <span class="fa fa-vk" aria-hidden="true"></span>
                </a>
                <a href="https://www.twitter.com/">
                    <span class="fa fa-twitter" aria-hidden="true"></span>
                </a>
                <a href="https://www.facebook.com/">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
            </li>
            <li class="subscribe">
                <h3>
                    Subscribe to news
                </h3>
                <input class="email" type="email" placeholder="Email"/>
                <input class="sub-button" type="button" value="Subscribe"/>
            </li>
        </ul>
    </div>
</footer>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/source-js/main.js">

</script>
</body>
</html>