
.advanced-search-page {
  margin: 0 auto;
  text-align: center;
  h2 {
    color: rgb(138, 133, 169);
    font-family: 'Bitter', serif;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    letter-spacing: 2px;
  }
  form {
    -webkit-box-shadow: 0 0 16px 2px rgba(111, 141, 243, 0.29);
    -moz-box-shadow: 0 0 16px 2px rgba(111, 141, 243, 0.29);
    box-shadow: 0 0 16px 2px rgba(111, 141, 243, 0.29);
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 0 auto;
    margin-bottom: 35px;
    text-align: center;
    width: 445px;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
    input {
      outline: none;
      -webkit-box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      -moz-box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      letter-spacing: 1px;
      font-family: 'Cabin', sans-serif;
      margin-bottom: 25px;
      border-radius: 3px;
      border: none;
      background-color: rgba(236, 221, 221, 0.35);
      width: 318px;
      padding: 9px 9px 9px 37px;
    }
    .plus-textbox {
      padding: 8px;
      background-color: #cd2559;
      color: white;
      font-size: 20px;
      display: block;
      width: 54px;
      margin: 5px auto 0;
      text-decoration: none;
      -webkit-box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      -moz-box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      border-radius: 3px;
      border: none;
      &:hover {
        background-color: rgba(180, 34, 81, 0.96);
      }
    }
    .red-but {
      padding: 9px 9px 9px 9px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 0;
      width: 154px;
      background-color: #cd2559;
      font-family: 'Cabin', sans-serif;
      letter-spacing: 1px;
      cursor: pointer;
      &:hover {
        background-color: rgba(180, 34, 81, 0.96);
      }
    }
    .custom-radio {
      display: inline-block;
      vertical-align: top;
    }
    .radio-but {
      margin-right: 8px;
    }
    label {
      margin-top: -13px;
      width: 150px;
      border-radius: 3px;
      box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      letter-spacing: 1px;
      font-family: 'Cabin', sans-serif;
      margin-bottom: 25px;
      border: none;
      color: #757575;
      background-color: rgba(236, 221, 221, 0.35);
      padding: 3px 24px 3px 50px;
    }

    input.radio:empty {
      margin-left: -999px;
    }

    input.radio:empty ~ label {
      position: relative;
      line-height: 2.3em;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    input.radio:empty ~ label:before {
      font-size: 24px;
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1.7em;
      background: rgba(220, 196, 196, 0.35);
      border-radius: 3px 0 0 3px;
      content: '\2714';
      text-indent: -0.1em;
      color: rgba(175, 176, 173, 0.37);
    }

    input.radio:hover:not(:checked) ~ label:before {
      content: '\2714';
      text-indent: -0.1em;
      color: #afb0ad;
    }

    input.radio:hover:not(:checked) ~ label {
      color: #888;
    }
    input.radio:checked ~ label:before {
      content: '\2714';
      text-indent: -0.1em;
      color: #ECDDDD;
      background-color: rgba(209, 35, 86, 0.96);
    }
    .text-box {
      background: url('/img/form/keyboard.PNG') left 5px top 10px no-repeat rgba(236, 221, 221, 0.35);
    }
  }
}