body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}

.wrapper {
  max-width: 1142px;
  margin: 0 auto;
  text-align: center;
}

.home {
  overflow: hidden;
}

.home-block {
  padding-bottom: 45px;
  position: relative;
  margin-top: 45px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .form_container {
    float: left;
    width: 500px;
    overflow: hidden;
    .slideContainer {
      white-space: nowrap;
      .slide {
        height: 500px;
        width: 500px;
        display: inline-block;
        margin-right: -4px;
        vertical-align: top;
        background-repeat: no-repeat;
      }
    }
    .left, .right {
      position: absolute;
      cursor: pointer;
      top: 41%;
      width: 0;
      height: 0;
      margin: 5px;
      opacity: 0.4;
      transition: all .5s ease-in;
      -webkit-transition: all .5s ease-in;
    }
    .left {
      left: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 27px solid rgba(180, 34, 81, 0.96);
    }
    .right {
      left: 550px;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 27px solid rgba(180, 34, 81, 0.96);
    }
    .left:hover, .right:hover {
      opacity: 1;
    }

  }
  .quote {
    text-align: left;
    width: 464px;
    min-width: 320px;
    h1 {
      margin-top: 65px;
      font-size: 60px;
      text-align: left;
    }
    a {
      font-size: 25px;
      margin-top: 30px;
      padding: 15px 60px;
      display: block;
      width: 250px;
      border-radius: 3px;
      text-decoration: none;
    }
  }
}

.news {
  background-color: ghostwhite;
  padding-bottom: 50px;
  padding-top: 30px;
}

h2 {
  margin-bottom: 40px;
  text-align: left;
  font-size: 36px;
  font-weight: 600;
}

.news-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    background-color: white;
    height: 400px;
    margin-bottom: 50px;
    width: 544px;
    min-width: 320px;
    text-align: left;
    border: 1px solid #c7c9ca;
    border-radius: 3px;
    a {
      display: block;
      width: 543px;
      height: 395px;
      padding: 11px;
      text-decoration: none;
      img {
        display: block;
        border-radius: 3px 3px 0 0;
        position: absolute;
      }
      h3 {
        color: white;
        background: rgba(22, 23, 41, 0.5);
        position: relative;
        z-index: 2;
        font-size: 24px;
        margin-left: 0;
        padding-left: 15px;
        margin-top: 0;
        padding-top: 10px;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-radius: 3px 3px 0 0;
      }

    }
    p {
      padding: 0 15px 15px;
      display: block;
      position: relative;
      top: -127px;
      font-size: 17px;
    }
    span {
      float: right;
      font-size: 16px;
      position: relative;
      top: 170px;
      margin-right: 15px;
      padding-bottom: 0;
    }
    .rating {
      float: left;
      position: relative;
      top: -153px;
      left: 11px;
    }
    .date {
      float: right;
      font-size: 16px;
      position: relative;
      top: -147px;
      margin-right: 15px;
      padding-bottom: 0;
      font-style: italic;
      right: 3px;
      color: darkgray;
    }
  }

}

.lern-more {
  font-size: 25px;
  margin-top: 30px;
  padding: 15px 60px;
  width: 250px;
  border-radius: 3px;
  text-decoration: none;
}

.red-but {
  background-color: #cd2559;
  color: white;
  text-decoration: none;
}

.red-but:hover {
  background-color: rgba(180, 34, 81, 0.96);
  color: white;
  text-decoration: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
}