.page-news {
  background-color: ghostwhite;
  overflow: hidden;
  padding-bottom: 50px;
  .news-block {
    h2 {
      margin-bottom: 40px;
      text-align: left;
      font-size: 36px;
      font-weight: 600;
      margin-top: 33px;
    }
    .news-list {
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        background-color: white;
        height: 400px;
        margin-bottom: 50px;
        width: 544px;
        min-width: 320px;
        text-align: left;
        border: 1px solid #c7c9ca;
        border-radius: 3px;
        a {
          display: block;
          width: 543px;
          height: 395px;
          padding: 11px;
          text-decoration: none;
          img {
            display: block;
            border-radius: 3px 3px 0 0;
            position: absolute;
          }
          h3 {
            border-radius: 3px 3px 0 0;
            color: white;
            background: rgba(22, 23, 41, 0.5);
            position: relative;
            z-index: 2;
            font-size: 24px;
            margin-left: 0;
            padding-left: 15px;
            margin-top: 0;
            padding-top: 10px;
            margin-bottom: 0;
            padding-bottom: 10px;
          }
        }
        p {
          padding: 0 15px 15px;
          display: block;
          position: relative;
          top: -127px;
          font-size: 17px;
        }
        span {
          float: right;
          font-size: 16px;
          position: relative;
          top: 170px;
          margin-right: 15px;
          padding-bottom: 0;
        }
        .rating {
          float: left;
          position: relative;
          top: -153px;
          left: 11px;
        }
        .date {
          float: right;
          font-size: 16px;
          position: relative;
          top: -147px;
          margin-right: 15px;
          padding-bottom: 0;
          font-style: italic;
          right: 3px;
          color: darkgray;
        }
      }

    }
    /** Pagination **/
    .pagination {
      margin: 0 auto;
      width: 100%;
      ul {
        padding-left: 0;
        margin: 0 auto;
        width: 60%;
        li {
          list-style: none;
          display: inline;
        }
      }
    }
    .pagination a {
      text-decoration: none;
    }
    .pagination a:hover {
      background-color: rgba(180, 34, 81, 0.96);
      color: white;
      text-decoration: none;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
    }
    .pagination ul li a, .pagination ul li span {
      padding: 13px 17px;
      font-size: 14px;
      font-weight: bold;
      color: white;
      margin: 3px 2px;
      border-radius: 3px;
      background-color: #cd2559;
    }

    .pagination ul li.current span {
      background-color: rgba(180, 34, 81, 0.96);
      color: white;
      text-decoration: none;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
    }
  }
}

.rating {
  float: left;
  position: relative;
  top: 170px;

  input {
    display: none;
  }

  label {
    color: #ddd;
    float: right;

    &:before {
      margin: 5px;
      font-size: 18px;
      font-family: FontAwesome, sans-serif;
      display: inline-block;
      content: "\f005";
    }
  }

  .half {
    &:before {
      position: absolute;
    }
  }
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #cd2559;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover {
}
