.news-single {
  overflow: hidden;
  background-color: ghostwhite;
}

.image-news {
  margin-bottom: 11px;
}

.single-block {
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  img {

  }
  h3 {
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
    display: inline-block;
    max-width: 602px;
    text-align: left;
    margin-bottom: 0;
    border-bottom: 2px solid lightgrey;
  }
  p {
    margin-top: 20px;
    text-align: left;
    font-size: 17px;
  }
  .name-picture {
    position: relative;
    color: wheat;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -65px;
    background: rgba(22, 23, 41, 0.4);
    display: block;
  }
  .title-text {
    width: 600px;
    .rating {
      float: right;
      position: inherit;
      height: 37px;
      input {
        display: none;
      }
      label {
        color: #ddd;
        float: right;
        &:hover {
          //cursor: pointer;
        }
        &:before {
          margin: 5px;
          font-size: 25px;
          font-family: FontAwesome, sans-serif;
          display: inline-block;
          content: "\f005";
        }
      }
      .half {
        &:before {
          position: absolute;
        }
      }
    }
    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
      color: #cd2559;
    }
    /* hover previous stars in list */

    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover {
    }
  }
  .bottom {
    margin-top: 25px;
    width: 100%;
    margin-bottom: 0;
    overflow: hidden;
    .btnews {
      float: left;
      text-decoration: none;
      border-radius: 3px;
      padding: 15px 60px;
      font-size: 18px;
    }
    .date-news {
      float: right;
      margin-right: 25px;
      font-size: 18px;
      font-style: italic;
      color: darkgray;
    }
  }
}