.painter-single {
  background-color: ghostwhite;
  overflow: hidden;
  .fa-long-arrow-left {
    padding: 14px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 20px;
  }
}

.photo-block {
  img {
    display: block;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    &:hover {
      -webkit-box-shadow: 0 0 5px 1px rgba(111, 141, 243, 0.53);
      -moz-box-shadow: 0 0 5px 1px rgba(111, 141, 243, 0.53);
      box-shadow: 0 0 5px 1px rgba(111, 141, 243, 0.53);
      -webkit-transform: scale(1.11);
      -moz-transform: scale(1.11);
      -o-transform: scale(1.11);
    }

  }
}

.painter-info-block {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 0;
  .photo-block {

  }
  .info-block {
    padding-right: 5px;
    padding-left: 30px;
    border: 1px solid darkgrey;
    background-color: rgba(236, 221, 221, 0.35);
    h2 {
      font-family: 'Bitter', serif;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid #cd2559;;
      font-size: 30px;
      text-align: center;
    }
    .styles, .b-day, .d-day, .nationality, .birthplace, .deathplace {
      font-family: 'Cabin', sans-serif;
      overflow: hidden;
      width: 318px;
      margin: 0 auto;
      padding-bottom: 1px;
      padding-top: 1px;
      border-bottom: 1px solid #cd2559;
      .workss {
        margin-top: 7px;
        margin-bottom: 7px;
        width: 190px;
        text-align: left;
        float: left;
        font-size: 17px;
        font-weight: 700;
      }
      .l {
        float: left;
        font-size: 17px;
        font-weight: 700;
      }
      .r {
        padding-right: 4px;
        font-style: italic;
        float: right;
        font-size: 17px;
      }
    }
    .works {
      margin-bottom: 0;
      margin-left: 2px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-left: 0;
      list-style: none;
      width: 346px;
      li {
        width: 114px;
        height: 114px;
        background: #f30;
        display: block;
        margin-top: 2px;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        &:hover {
          -webkit-box-shadow: 0 0 5px 1px rgba(111, 141, 243, 0.53);
          -moz-box-shadow: 0 0 5px 1px rgba(111, 141, 243, 0.53);
          box-shadow: 0 0 5px 1px rgba(111, 141, 243, 0.53);
          -webkit-transform: scale(1.03);
          -moz-transform: scale(1.03);
          -o-transform: scale(1.03);
        }
      }
    }
  }
}

.biography {
  background-color: snow;
  overflow: hidden;
}

.biography-block {
  overflow: hidden;
  margin-top: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  h2 {
    font-family: 'Bitter', serif;
    border-bottom: 2px solid dimgrey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 182px;
  }
  p {
    letter-spacing: 1px;
    font-family: 'Cabin', sans-serif;
    margin: 0 0 15px;
    text-align: left;
    font-size: 17px;
    max-width: 975px;
    display: inline-block;
  }
}