@include sorting;
.painters {
  background-color: ghostwhite;
  overflow: hidden;
}

.painters-block {
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    margin-bottom: 15px;
    padding: 4px;
    width: 371px;
    font-size: 15px;
    text-align: left;
    border-radius: 3px;
    border: 1px solid darkgrey;;
    background-color: white;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    a {
      display: block;
      color: rgb(6, 60, 119);
    }
    img {
      float: left;
      margin-right: 10px;
    }
    .info-block {

      h3 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 5px;
        display: inline-block;
        padding-bottom: 5px;
        width: 199px;
        border-bottom: 2px solid #cd2559;
      }
      .styles, .b-day, .d-day {
        overflow: hidden;
        margin-bottom: 5px;
        border-bottom: 1px solid #cd2559;
        width: 199px;
      }
      .l {
        float: left;
      }
      .r {
        float: right;
      }
    }
    &:hover {
      opacity: 1;
      -webkit-box-shadow: 0 0 16px 2px #6f8df3;
      -moz-box-shadow: 0 0 16px 2px #6f8df3;
      box-shadow: 0 0 16px 2px #6f8df3;
      -webkit-transform: scale(1.05, 1.05);
      -webkit-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transform: scale(1.05, 1.05);
      -moz-transition-timing-function: ease-out;
      -moz-transition-duration: 250ms;
    }

  }
}

.pagination {
  margin: 0 auto 46px;

  width: 100%;
  ul {
    padding-left: 0;
    margin: 0 auto;
    width: 60%;
    li {
      list-style: none;
      display: inline;
    }
  }
}

.pagination a {
  text-decoration: none;
}

.pagination a:hover {
  background-color: rgba(180, 34, 81, 0.96);
  color: white;
  text-decoration: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
}

.pagination ul li a, .pagination ul li span {
  padding: 13px 17px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 3px 2px;
  border-radius: 3px;
  background-color: #cd2559;
}

.pagination ul li.current span {
  background-color: rgba(180, 34, 81, 0.96);
  color: white;
  text-decoration: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
}