@include sorting;
.pictures {
  background-color: ghostwhite;
  overflow: hidden;
}

.pictures-block {
  padding-bottom: 46px;
  padding-top: 35px;
  .pictures-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    li {
      opacity: 0.8;
      border: 1px solid #c7c9ca;
      margin-bottom: 35px;
      padding: 6px 6px 0;
      border-radius: 3px;
      width: 264px;
      background-color: white;
      cursor: pointer;
      &:hover {
        opacity: 1;
        -webkit-box-shadow: 0 0 16px 2px #30374e;
        -moz-box-shadow: 0 0 16px 2px #30374e;
        box-shadow: 0 0 16px 2px #30374e;
      }
      div {
        padding: 5px 7px;
        overflow: hidden;
        span {
          display: block;
          font-size: 15px;
        }
        .title {
          max-width: 200px;
          text-align: right;
          height: 40px;
        }
        .l {
          float: left;
          font-weight: 600;
        }
        .r {
          float: right;

        }
        &:nth-child(2n+1) {
          background-color: rgba(169, 169, 169, 0.24);
        }
        &:last-child {
          padding-left: 4px;
          padding-top: 5px;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
      .picture-buttons {
        background-color: white;
        overflow: hidden;
        border-bottom: 1px solid;
        padding-top: 3px;
        $thickness: 4px;
        $size: 30px;

        .plus {
          float: left;
          margin: 3px;
          padding: 17px;
          border-radius: 3px;
          position: relative;
          display: block;
          width: $size;
          height: $size;
          cursor: pointer;
          &:before,
          &:after {
            display: block;
            content: '';
            background: currentColor;
            position: absolute;
            border-radius: 1px;
          }
          &:before {
            height: $thickness;
            width: 80%;
            top: calc(50% - #{$thickness} / 2);
            left: calc(50% - 80% / 2);
          }
          &:after {
            width: $thickness;
            height: 100%;
            max-height: $thickness;
            transition: .1s ease-out;
            transition-property: top, max-height;
            top: calc(50% - #{$thickness} / 2);
            left: calc(50% - #{$thickness} / 2);
          }
          &.closed:after {
            max-height: 80%;
            top: calc(50% - 80% / 2);
            transition: .1s ease-in;
            transition-property: top, max-height;

          }
        }
        .rating2 {
          float: left;
          position: relative;
          width: 124px;
          padding: 4px 4px;
          input {
            display: none;
          }

          label {
            color: #ddd;
            float: right;

            &:before {
              margin: 3px;
              font-size: 18px;
              font-family: FontAwesome, sans-serif;
              display: inline-block;
              content: "\f005";
            }
          }
          .half {
            &:before {
              position: absolute;
            }
          }
        }
        .rating2 > input:checked ~ label, /* show gold star when clicked */
        .rating2:not(:checked) > label:hover, /* hover current star */
        .rating2:not(:checked) > label:hover ~ label {
          color: #cd2559;
        }
        /* hover previous stars in list */

        .rating2 > input:checked + label:hover, /* hover current star when changing rating */
        .rating2 > input:checked ~ label:hover {
        }
        .but-more {
          float: right;
          margin-top: 2px;
          display: block;
          padding: 6px 15px;
          border-radius: 3px;
          font-size: 16px;
          font-weight: 600;

        }
      }

    }
  }
  .pagination {
    /* margin-bottom: 10px; */
    margin: 0 auto;
    width: 100%;
    ul {
      padding-left: 0;
      margin: 0 auto;
      width: 60%;
      li {
        list-style: none;
        display: inline;
      }
    }
  }
  .pagination a {
    text-decoration: none;
  }
  .pagination a:hover {
    background-color: rgba(180, 34, 81, 0.96);
    color: white;
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
  }
  .pagination ul li a, .pagination ul li span {
    padding: 13px 17px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin: 3px 2px;
    border-radius: 3px;
    background-color: #cd2559;
  }

  .pagination ul li.current span {
    background-color: rgba(180, 34, 81, 0.96);
    color: white;
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)
  }
}




