section.picture-single {
  background-color: ghostwhite;
  overflow: hidden;
  .fa-long-arrow-left {
    padding: 14px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 20px;
  }
}

.picture {
  border: 1px solid darkgrey;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  &:hover {

    opacity: 1;
    -webkit-box-shadow: 0 0 5px 1px #6f8df3;
    -moz-box-shadow: 0 0 5px 1px #6f8df3;
    box-shadow: 0 0 5px 1px #216586;
    -webkit-transform: scale(1.1, 1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.1, 1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
  }
}

.picture-block {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  .right-block {
    border: 1px solid darkgrey;
    text-align: left;
    width: 25%;
    padding: 25px 7px 20px 20px;
    background-color: rgba(236, 221, 221, 0.35);
    a {
      overflow: hidden;
      display: block;
      margin-bottom: 35px;
      .fa-star {
        display: none;
      }
      .fa-star-o, .fa-star {
        color: #cd2559;
        font-weight: 600;
        font-size: 30px;
        float: right;
        margin-right: 20px;
        margin-left: 15px;
        &:hover {
          color: rgba(226, 37, 89, 0.7);
          text-shadow: 1px 1px 2px rgba(60, 139, 238, 0.33);
        }
      }
    }
    .title, .autor, .stylle, .price {
      padding-bottom: 15px;
      overflow: hidden;
      .l {
        float: left;
        font-weight: 700;
      }
      .r {
        float: right;
        width: 195px;
      }

    }
    .title {
      padding-top: 35px;
      border-top: 2px solid lightslategrey;
    }
    .share {
      padding-bottom: 70px;
      padding-top: 40px;
      border-bottom: 2px solid lightslategrey;
      .text-share {
        margin-bottom: 15px;
      }
      span {
        font-weight: 700;
        display: block;
      }
      a {
        float: right;
        &:hover {
          text-decoration: none;
        }
        .fa {
          color: #cd2559;
          font-size: 30px;
          padding: 5px 8px;
          &:hover {
            color: rgba(226, 37, 89, 0.7);
            text-shadow: 1px 1px 2px rgba(60, 139, 238, 0.33);
          }
        }
        .fa-instagram {
          margin-right: 16px;
        }

      }

    }
  }
}

