.registration-page {
  margin: 0 auto;
  text-align: center;
  h2 {
    color: rgb(138, 133, 169);
    font-family: 'Bitter', serif;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    letter-spacing: 2px;
  }
  form {
    -webkit-box-shadow: 0 0 16px 2px rgba(111, 141, 243, 0.29);
    -moz-box-shadow: 0 0 16px 2px rgba(111, 141, 243, 0.29);
    box-shadow: 0 0 16px 2px rgba(111, 141, 243, 0.29);
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 35px;
    text-align: center;
    width: 445px;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
    input {
      outline: none;
      -webkit-box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      -moz-box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      box-shadow: 0 0 6px 2px rgba(111, 141, 243, 0.38);
      letter-spacing: 1px;
      font-family: 'Cabin', sans-serif;
      margin-bottom: 25px;
      border-radius: 3px;
      border: none;
      background-color: rgba(236, 221, 221, 0.35);
      width: 318px;
      padding: 9px 9px 9px 37px;
    }
    .user-name {
      background: url('/img/form/user-icon.PNG') left 5px top 6px no-repeat rgba(236, 221, 221, 0.35);
    }
    .password {
      background: url('/img/form/password-icon.PNG') left 5px top 6px no-repeat rgba(236, 221, 221, 0.35);
    }
    .email {
      background: url('/img/form/email-icon.PNG') left 5px top 10px no-repeat rgba(236, 221, 221, 0.35);
    }
    .red-but {
      padding-left: 9px;
      margin-top: 10px;
      margin-bottom: 0;
      width: 154px;
      background-color: rgba(180, 34, 81, 0.96);
    }
  }
}